@using System.IO
@model SmartHouseWeb.Models.SmartNavigation
<ul id="js-nav-menu" class="nav-menu">
    @foreach (var group in Model.Lists)
    {
        @if (group.Items.Any())
        {
            var groups = group.Items.Select(x => System.IO.Path.GetFileNameWithoutExtension(x.Href)).Where(x => x != "javascript:void(0);").ToList();

            group.Items.ForEach(item =>
            {
                var result = item.Items?.Select(x => System.IO.Path.GetFileNameWithoutExtension(x.Href)).Where(x => x != "javascript:void(0);").ToList();
                if (result?.Any() == true)
                {
                    groups = groups.Concat(result).ToList();
                }
            });

            <li class="@(groups.Contains(ViewBag.PageName) ? "active open" : "")">
                <a href="#" title="@group.Title" data-filter-tags="@group.Tags">
                    <i class="@group.Icon"></i>
                    <span class="nav-link-text" data-i18n="@group.I18n">@group.Text</span>
                    @if (group.Span.HasValue())
                    {
                        <span class="@group.Span.Class">@group.Span.Text</span>
                    }
                </a>
                <ul>
                    @{
                        foreach (var item in group.Items)
                        {
                            var items = item.Items?.Select(x => System.IO.Path.GetFileNameWithoutExtension(x.Href)).Where(x => x != "javascript:void(0);").ToList();

                            if (item.Disabled)
                            {
                                <text>
                                    <li class="disabled">
                                </text>
                            }
                            else
                            {
                                if (items?.Any() == true)
                                {
                                    <text>
                                    <li class="@(items.Contains(ViewBag.PageName) ? "active open" : "")">
                                    </text>
                                }
                                else
                                {
                                    <text>
                                    <li class="@(ViewBag.PageName == System.IO.Path.GetFileNameWithoutExtension(item.Href) ? "active" : "")">
                                    </text>
                                }
                            }
                            <text>
                                <a href="@item.Route" title="@item.Title" data-filter-tags="@item.Tags">
                                    <span class="nav-link-text" data-i18n="@item.I18n">@item.Text</span>
                                    @if (item.Span.HasValue())
                                    {
                                    <span class="@item.Span.Class">@item.Span.Text</span>
                                    }
                                </a>
                            </text>
                            if (item.Items?.Any() == true)
                            {
                                <text>
                                    <ul>
                                        @foreach (var subItem in item.Items)
                                        {
                                            if (subItem.Disabled)
                                            {
                                                <text>
                                                    <li class="disabled">
                                                </text>
                                            }
                                            else
                                            {
                                                <text>
                                                <li class="@(ViewBag.PageName == System.IO.Path.GetFileNameWithoutExtension(subItem.Href) ? "active" : "")">
                                                </text>
                                            }
                                            <a href="@subItem.Route" title="@subItem.Title" data-filter-tags="@subItem.Tags">
                                                <span class="nav-link-text" data-i18n="@subItem.I18n">@subItem.Text</span>
                                            </a>
                                            @:</li>
                                        }
                                    </ul>
                                </text>
                            }
                        @:</li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            <li class="nav-title">@group.Title</li>
        }
    }
</ul>