@model ApplicationSettings
@{
    ViewData["Title"] = "Introduction";
    ViewData["PageName"] = "intel_introduction";
    ViewData["Category1"] = "Application Intel";
}

<div class="row">
    <div class="col-xl-12">

        <div class="fs-lg fw-300 p-5 bg-white border-faded rounded mb-g">
            <h3 class="mb-g">
                Hi Everyone,
            </h3>
            <p>
                Some time ago we asked for your input, whether you were a seasoned @Model.Name user or just peeking around the corner, and WOW, did you deliver! After reading each and everyone of your replies on the survey, we have taken each piece of praise and criticism to heart to scope out our plans for @Model.Name. All feedback will be used to make your favorite theme that much better, but these were some of the highlights.
            </p>
            <p>
                A whopping 72% of you said you were ready for a fresh new design, while @Model.Name is and a revolutionary view on what a good bootstrap based template should be, having something new to look at can make anyone feel invigorated. And let's be honest, who doesn't like a modern update of your favorite theme! While most you are still happy with the current variations, around 50% of you have asked for vue.js support. With this framework rapidly gaining popularity it is surely one to include in the family of frameworks! And, last, but certainly not least, a very large majority of a staggering 90% wanted more plugins and regular updates.
            </p>
            <p>
                SmartAdmin takes great care to ensure that valuable and popular plugins are supported as much as possible on a drop-in basis, meaning without doing heavy modifications to extend the look and feel of your favorite admin template :) . And if the plugin is in demand enough, we won't hesitate to put in the hours to support the look and feel of @Model.Name.
            </p>
            <p>
                But how you ask? Well in order to make the next version of @Model.Name the best ever and to re-deliver on our promise of continued support and quality, we wrote the theme from the ground-up using the latest Bootstrap practises. As a result we are better able to support new frameworks as they come up and ensure that plugin support is quick and reliable. In addition we have partnered up with some of the communities best developers to ensure that our tailor made variations are of top-notch quality and follow the principles that we at @Model.Name take to heart.
            </p>
            <p>
                We're really confident that @Model.Name 4.0 will bring back that first theme experience while still keeping the familiarity that you have grown used to. It's a brand new theme, but with all the things you love and then some. And to ensure that you our loyal customers get this experience first-hand, we will be publishing the HTML update free-of-charge as an update to your current @Model.Name license! That's right, once the theme is fully ready you will receive an update mail like usual, but this time it will contain @Model.Name 4.0!
            </p>
            <p>
                Last but not least, we would like to thank each and everyone of you, our loyal customers, for your patience and continued support in @Model.Name. Without you this would not have been possible!
            </p>
            <p>
                Sincerely,<br>
                The @Model.Name Team<br>
            </p>
        </div>

        <div class="d-flex">
            <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center">
                <img src="~/img/demo/authors/sunny.png" alt="sunny" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
                <div class="ml-2 mr-3">
                    <h5 class="m-0">
                        Sunny A. (UI/UX Expert)
                        <small class="m-0 fw-300">
                            @Model.Name Main Author
                        </small>
                    </h5>
                    <a href="https://twitter.com/@@myplaneticket" class="text-info fs-sm">@@myplaneticket</a>
                </div>
            </div>
            <div class="rounded-pill bg-white shadow-sm p-2 border-faded mr-3 d-flex flex-row align-items-center justify-content-center">
                <img src="~/img/demo/authors/josh.png" alt="josh" class="img-thumbnail img-responsive rounded-circle" style="width:5rem; height: 5rem;">
                <div class="ml-2 mr-3">
                    <h5 class="m-0">
                        Jos K. (ASP.NET Core Developer)
                        <small class="m-0 fw-300">
                            @Model.Name Co-Author
                        </small>
                    </h5>
                    <a href="https://twitter.com/@@atlantez" class="text-info fs-sm">@@atlantez</a>
                </div>
            </div>
        </div>

    </div>
</div>